body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

body, html {
  height: 100%;
  display: grid;
}

#root {
  margin: auto;
}

.toolbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 84px;
  height: 84px;
  width: 84px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:hover {
  background: lightblue;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
